@import '../../variables/global.scss';
.item-container{
  display:flex;
  flex-direction: column;
  margin:15px 0;
  img{
    width:100px;
    height:150px;
    cursor:move;
  }
  .controls-wrapper{
    button{
      border:0;
      background:$pts-accent-dark;
      color:$pts-grey;
      width:33px;
      height:20px;
      &:hover, &:active, &:focus{
        background-color:$pts-purple;
        color:$pts-dark;
      }
    }
  }
}